@import '../node_modules/bootstrap/dist/css/bootstrap.css';
.submitBtn {
    background-color: rgba(228, 228, 228, 0.021);
    -webkit-box-shadow: 0px 0px 9px 0px #b6a9a9;
    box-shadow: 0px 0px 9px 0px #b6a9a9;
    border-radius: 5px;
    border: 0.1px rgb(163, 163, 163) solid;
    /* color: black; */
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    height: 55px;
}

.submitBtn:hover {
    color: rgb(0, 114, 0)!important;
}

input[type="file"] {
    /* background-color: rgb(194, 194, 194); */
    border: 0.1px rgb(163, 163, 163) solid;
    -webkit-box-shadow: 0px 0px 3px 0px #d1cccc;
    box-shadow: 0px 0px 3px 0px #d1cccc;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: rgba(228, 228, 228, 0.021);
    -webkit-box-shadow: 0px 0px 9px 0px #b6a9a9;
    box-shadow: 0px 0px 9px 0px #b6a9a9;
    border-radius: 5px;
    /* border: 1px solid #ff0000; */
    /* color: black; */
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    width: 125px;
    height: 55px;
}